* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

header {
    color:rgb(37, 17, 56)
}

body {
    background-color: rgb(176, 198, 226);
    color:rgb(53, 37, 85)
}

